.add-review{
    background-color: rgb(196, 228, 255);
}
.add-review form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.add-review form input, textarea{
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    color: blueviolet;
    height: 30px;
}
input{
    border-width: 2px;
    border-radius: 10px;
    border-color: rgb(16, 150, 3);
}
textarea{
    height: 50px;
}
.m-5{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #1976D2;
}