#header2 {
    background: #3525c0;
    background-image: url(../../../Images/allcar.png);
    background-repeat: no-repeat;
    background-color: #2a323a;
    height:80vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header2 #allcar{
    font-family: Arial;
    text-align: center;
    
}
#allcar #p{
    padding-top: 15px;
}
#h1 #span{
    background-color: #ffffff;
    padding: 5px 15px;
    border-radius: 4px;
}
#p #span{
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
}