#header2 {
    background: #664c8f;
    background-image: url(../../../Images/allcar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #664c8f;
    height: auto;
    width: auto;
    padding: 200px 100px
}
#allcar{
    color: #ffffff;
    font-family: Arial;
    text-align: center;
}